.popular {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Huninn", sans-serif;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
  font-family: "Huninn", sans-serif;
  text-align: center;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.popular-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  font-family: "Huninn", sans-serif;
}

@media (max-width: 600px) {
  .popular h1 {
    font-size: 24px;
  }

  .popular hr {
    width: 80px;
  }

  .popular-items {
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 20px;
    width: 100%;
  }
}
